{% extends 'base.html' %}
<!-- params: 
    + movie_avg_ratings: array of rows (movieId, title, avg(rating)) -->

{% block title %}Movie Ratings{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="m-4">
<h1 class="header1">Movie Recommender System</h1>

<!-- search for ratings of a specific movie -->
<form action="/movie_ratings" method="post">
    <div class="grid gap-6 mb-6 md:grid-cols-2 mx-4">
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for=" movie_id">Search for
                rating of a specific movie:
            </label>
            <div>
                <input type="text" id="movie_id" name="movie_id" placeholder="Movie ID"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded m-2">Search
                </button>
            </div>
        </div>
    </div>
</form>

<button
    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded m-2"
    onclick="location.href='/movie_ratings/sorted/1'">Sort Ascending
</button>
<button
    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded m-2"
    onclick="location.href='/movie_ratings/sorted/0'">Sort Descending
</button>


<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Movie ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Movie Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Average Rating
                </th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movie_avg_ratings %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ movie[0] }}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ movie[1] }}
                </td>
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ movie[2] | round(2, 'common')}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}